<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="setvincordovaplugin" version="0.0.1">
    <name>setvincordovaplugin</name>

    <description>An Android Cordova plugin that allows users to set vin on other app.</description>
    <license>MIT</license>

    <keywords>cordova,android</keywords>
    <repo>https://github.com/janevert/setvincordovaplugin.git</repo>
    <issue>https://github.com/janevert/setvincordovaplugin/issues</issue>
  
    <engines>
        <engine name="cordova" version=">=3.0.0"/>
    </engines>
    <manifest>     
        <queries>
            <package android:name="com.daftrucks.dafcanreceiver" />
            <package android:name="com.daftrucks.dafcanreceiver.dev" />
            <package android:name="com.fiberlink.maas360.android.control" />
            <package android:name="com.abaltatech.wlhostapp" />
        </queries>
    </manifest> 
        
    <js-module src="www/truckmessagelayer.js" name="truckmessagelayer">
        <clobbers target="sv" />
    </js-module>
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="TruckMessageLayerPlugin">
                <param name="android-package" value="com.daftrucks.setvincordovaplugin.TruckMessageLayerPlugin"/>
            </feature>
        </config-file>

        <source-file framework="true" src="libs/truckmessagesdk-debug.aar" target-dir="libs"/>
        <framework src="src/gradle-extension.gradle" custom="true" type="gradleReference" />
        <source-file src="src/main/java/com/daftrucks/setvincordovaplugin/TruckMessageLayerPlugin.java" target-dir="src/com/joaoavsantos/cordova/plugin" />
    </platform>
</plugin>
